<style>
  body {
    background-image: url('background.png');
    color: white;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana", sans-serif;
    padding: 10px;
  }

  .constellation {
    background: rgb(0, 0, 90);
    color: white;
    float: left;
    text-align: center;
    padding: 0 20px 15px 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin-right: 10px;
    box-shadow: 0 0 20px black;
  }

  .star {
    float: left;
    width: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    margin: 1px;
  }

  .inactive {
    color: rgb(70, 70, 70);
    border: 1px solid rgb(70, 70, 70);
  }

  .active {
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 20px yellow inset;
  }

</style>

<body>

<h1>Starlight Observatory</h1>

<% @constellations.each do |c| %>
    <div class="constellation">
      <h3><%= c.name %></h3>
      <% i = 1 %>
      <% c.star_count.times do %>
          <div class="star <%= i%2==0 ? "in" : "" %>active"><%= i %></div>
          <% i += 1 %>
      <% end %>
    </div>
<% end %>
</body>
